html{
    font-size: 16px;
    scroll-behavior: smooth;
    text-decoration-line: none;
}
body{
    background-color: #353D40;

}

img{
    height: 250px;
    width: 500px;
    object-fit: cover;
}

/* ------------------------------*/
/* HEADER CSS*/
#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}
#header .header{
    min-height: 8vh;
    background-color: #161625;
    transition: 0.3s ease background-color;
}
#header .container{
    min-height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header .header-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 50px;
}

.Owner-Title{
    text-decoration: none;
}
#header .bar-more{
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin: 1em;
}
.Redir-Links{
    font-size: 20px;
    text-decoration: none;
}

#header .header-bar a.button {
    color: whitesmoke;
    text-decoration: none;
    transition-duration: 0.3s;
}
#header .header-bar a.button:hover{
    color: dimgray;

}

/* ------------------------------*/
/* HERO STYLE*/

#hero button {
    text-decoration-color: white;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 08px;
    width: 45%;

    background-color: #7A7F80; /* Green background */
    border: 1px solid black; /* Green border */
    color: white; /* White text */
    padding: 17px 00px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    border-radius: 2px;
    transition-duration: 0.6s; /* add transition time to hover */
}
#hero button:hover {
    background-color: #5C5F60;
    color : white;
    /*box-shadow: 0 12px 16px 0 rgba(0,0,0,0.32), 0 17px 50px 0 rgba(0,0,0,0.19);*/
    box-shadow: 0 5px 25px 4px rgba(0,0,0,0.24);
    border-radius: 15px;
    width: 43%;
}

#hero .container{
    margin-top: 150px;
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
/*PANEL CLASSES*/
#hero .Hidden_Panel{
    display: none;
}
#hero .Displayed_Panel{
    
}
/*END PANEL CLASSES*/

#hero h1{
    margin-block-start: 0.0em;
    margin-bottom: 15px;
    text-align: center;
    color: whitesmoke;
    font-size: 32px;
}

#hero .cover img{
    margin-top: 10px ;
    border-radius: 10px;
    transition: ease-out 0.3s;
}
#hero .cover img:hover{
    border-radius: 25px;
    scale: 102.5%;
}
#hero .cover-info span{
    padding: 3px 10px;
    background-color: darkgreen;
    border-radius: 10px;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
}

/*SPAN STYLE*/
#hero .projects-cover .cover-info span:nth-child(1){
    background-color: cornflowerblue;
}
#hero .projects-cover .cover-info span:nth-child(2){
    background-color: darkcyan;
}
#hero .projects-cover .cover-info span:nth-child(3){
    background-color: #ff4444;
}
#hero .projects-cover .cover-info span:nth-child(4){
    background-color: mediumpurple;
}
/*END SPAN STYLE*/