html{
    font-size: 16px;
    scroll-behavior: smooth;
    text-decoration-line: none;
}
body{
    background-color: #353D40;

}

img{
    height: 250px;
    width: 500px;
    object-fit: cover;
}

/* ------------------------------*/
/* HEADER CSS*/
#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}
#header .header{
    min-height: 8vh;
    background-color: #161625;
    transition: 0.3s ease background-color;
}
#header .container{
    min-height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header .header-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 50px;
}

.Owner-Title{
    text-decoration: none;
}
#header .bar-more{
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin: 1em;
}
.Redir-Links{
    font-size: 20px;
    text-decoration: none;
}

#header .header-bar a.button {
    color: whitesmoke;
    text-decoration: none;
    transition-duration: 0.3s;
}
#header .header-bar a.button:hover{
    color: dimgray;

}

/* ------------------------------*/